@charset "utf-8";
/* CSS Document */
/*for weekly exercises*/

body {
	width:80%;
	margin-left:auto;
	margin-right:auto;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    background-image:url("star background.jpg")
}
h2{
	color:lightslategray;
	font-size:23px;
	margin-bottom:15px;
}
div{
	color:azure
}	

.shortcut{
	background-color: Azure;
	color:darkslategray;
	height:100px;
	width:200px;
	padding:20px 35px;
	padding-bottom:50px;
	background-color:lightslategray;
	border-radius: 20px;
	margin:20px;
	position: relative;
	overflow:hidden;
	text-align: center;
}