@charset "utf-8";
/* CSS Document */
body {
	width:80%;
	margin-left:auto;
	margin-right:auto;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    background-image: url(../../Unnamed%20Site%202/extra%20github%20stuff/star%20background.jpg);
}
#header{
	background-color:lightslategray;
	color:cadetblue;
	text-align:center;
	padding: 5px;
}
nav ul { 
	list-style-type:none;
	overflow:hidden;
	background-color:lightslategray;
	line-height:40px;
	margin:0;
	padding:0;
}
nav li {
	/*float: left; */
	display:inline;
}
nav a { 
	colour:white;
	text-align:center;
	padding:14px 16px;
	text-decoration:none;
}
nav .active{
	background-color:aliceblue;
	color:midnightblue;
}
nav a:hover{
	background-color:aliceblue;
	color:midnight;
}
#main{
	background-color:midnightblue;color:azure;

}
div{
	color: 
}





