@charset "utf-8";
/* CSS Document */
body {
	width:80%;
	margin-left:auto;
	margin-right:auto;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    background-image: url(../../Unnamed%20Site%202/extra%20github%20stuff/star%20background.jpg);
}
div main{
	width:90%
}
#header{
	background-color:lightgrey;
	color:cadetblue;
	text-align:center;
}
nav ul { 
	list-style-type:none;
	overflow:hidden;
	background-color:lightgrey;
	line-height:40px;
	margin:0;
	padding:0;
}
nav li {
	/*float: left; */
	display:inline;
}
nav a { 
	colour:white;
	text-align:center;
	padding:14px 16px;
	text-decoration:none;
}
div{
	color: lightslategray;
}






